.post-text p:first-of-type {
    margin-top: 0;
}

.post-text p:last-of-type {
    margin-bottom: 0;
}

.post-text p {
    margin: 0;
}

.post-text a {
    font-weight: bold;
    color: blueviolet;
    text-decoration: none;
}

blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 40%;
}

blockquote p {
    margin: 0;
}
